@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Colors */
  --clr-teal: hsl(192, 37%, 48%);
  --clr-purple: hsl(268, 34%, 53%);
  --clr-navy: hsl(240, 21%, 20%);
  --clr-gray: hsl(240, 10%, 57%);
  --clr-cyan: hsl(192, 90%, 77%);
  --clr-lavender: hsl(268, 100%, 86%);
  --clr-white: hsl(0, 0%, 98%);
}

/* Font */
/* font-family: "Red Hat Display", sans-serif; */

/* CSS setup */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  /* min-height: 100svh; */
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: var(--clr-gray);

  background-color: var(--clr-white);
}

/* For link accessibility */
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #8fe3f9;
  /* change the color here....^ */
}

/* Responsive images*/
img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 6.4rem;
  line-height: 6.4rem;
}

h2 {
  font-size: 4rem;
  line-height: 4.4rem;
}

h1,
h2 {
  text-align: center;
  color: var(--clr-navy);
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 2.9rem;
  padding: 1.3rem 3.1rem;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 4.8rem;
  }
}

/* Utilities */

.txt-white {
  color: var(--clr-white);
}
.txt-navy {
  color: var(--clr-navy);
}

.txt-cyan {
  color: var(--clr-cyan);
}

.txt-lavendar {
  color: var(--clr-lavender);
}

.overline {
  color: var(--clr-teal);
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.fw-medium {
  font-weight: 500;
}

.fw-black {
  font-weight: 900;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  width: 1px;
  height: 8.4rem;
  background-color: #87879d;
  opacity: 0.25;
}

.circle {
  background-color: var(--clr-white);
  border: 1px solid #87879d40;
  border-radius: 100%;
  width: 5.6rem;
  height: 5.6rem;
}

/* --- */

.logo {
  margin-top: 8rem;
}

/* Desktop */

/* Larger desktops */
@media (min-width: 1440px) {
  .hero img {
    width: 25%;
  }
}

/* Breakpoint - small desktop  - avoid over crowding*/

@media (max-width: 1200px) {
  .hero-img-left,
  .hero-img-right {
    width: 30%;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6.1rem auto;
  max-height: 32rem;
}

.hero__content {
  text-align: center;
  justify-self: center;
  gap: 3.2rem;
  width: 54rem;
  margin-top: 1rem;
}

.hero__content p {
  max-width: 45rem;
}

.hero-img-left {
  margin-left: -3.2rem;
  align-self: flex-start;
}

.hero-img-right {
  margin-right: -3.2rem;
}

.hero-img-mobile {
  display: none;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.btn-teal {
  background-color: var(--clr-teal);
}

.btn-purple {
  background-color: var(--clr-purple);
}

.btn-teal:hover {
  cursor: pointer;
  background-color: #71c0d4;
  transition: all ease 0.3s;
}

.btn-purple:hover {
  cursor: pointer;
  background-color: #b18bdd;
  transition: all ease 0.3s;
}

.main {
  text-align: center;
  margin-top: 6.4rem;
}

.main__img-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  max-width: 111rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.main__img-row img {
  border-radius: 8px;
}

.main__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 54rem;
  margin: 0 auto 7.2rem;
}

.main .overline {
  margin-bottom: 1.6rem;
}

.main .fs-h2 {
  width: 100%;
  margin-bottom: 3.2rem;
}

.main .circle {
  z-index: 2;
}

.footer::before {
  content: '';
  background-image: url('assets/desktop/image-footer.jpg');
  position: absolute;
  background-size: cover;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.1045;
  z-index: -1;
}

.footer {
  background-color: #4d96a9;
  position: relative;
  margin-top: -2.7rem;
  padding: 11.6rem 0;
  z-index: 0;
}

.footer h2 {
  text-align: left;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin: auto 16.5rem;
  position: relative;
  z-index: 1;
}

.footer__content-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68%;
  gap: 8rem;
  z-index: 1;
}

.footer__content-text h2 {
  flex: 1;
}

.footer__content-text p {
  flex: 1;
}

.footer__button {
  position: relative;
  z-index: 2;
}

/* Tablet / iPad Pro / Galaxy Tab */
@media (max-width: 1024px) {
  .desktop {
    display: none;
  }

  .hero {
    display: flex;
    flex-direction: column;
    gap: 7.2rem;
  }

  .hero-img-mobile {
    display: block;
    max-width: unset;
    width: calc(100% + 5rem);
  }

  .hero__content {
    margin-top: 0;
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 4rem;
  }

  .footer h2 {
    text-align: center;
  }

  p {
    font-size: 1.6rem;
  }

  .footer p {
    font-size: 1.8rem;
  }

  .main__img-row {
    max-width: 68.9rem;
  }

  .footer__content,
  .footer__content-text {
    flex-direction: column;
    gap: 2.4rem;
    text-align: center;
  }

  .footer__content-text {
    width: 120%;
  }

  .footer::before {
    background-image: url('assets/tablet/image-footer.jpg');
  }
}

/* Mobile / Small Screens */

@media (max-width: 765px) {
  h1 {
    font-size: 4rem;
    line-height: 4.4rem;
  }

  h2 {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  .hero {
    margin-bottom: 6.4rem;
  }

  .btns {
    flex-direction: column;
  }

  .main__img-row {
    grid-template-columns: repeat(2, 1fr);
    max-width: 37.5rem;
    margin-bottom: 6.4rem;
  }

  p {
    width: 55%;
  }

  .footer::before {
    background-image: url('assets/mobile/image-footer.jpg');
  }

  .footer__content {
    margin: 0 2.4rem;
    padding: 0 2.4rem;
  }
}
